
[data-v-14076991] .p-inputtext {
  border: none !important;
  box-shadow: none !important;
  background: #2d2e32 !important;
  color: var(--color-primary-comfy-canvas) !important;
  caret-color: var(--color-primary-comfy-canvas);
}
[data-v-14076991] .p-inputtext::placeholder {
  color: rgb(from var(--color-primary-comfy-canvas) r g b / 0.5);
}
